<link rel="import" href="../../polymer/polymer.html">

<dom-module id="icons">
  <template>
    <style>
      /* success alert */
      .alert-success .alert-icon {
        color: #56a449;
      }
      /* info alert */
      .alert-info .alert-icon {
        color: #274b60;
      }
      /* warning alert */
      .alert-warning .alert-icon {
        color: #efcb36;
      }
      /* danger alert */
      .alert-danger .alert-icon {
        color: #e25656;
      }
    </style>
  </template>
</dom-module>
